* {
    font-family: 'SF Pro Rounded', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus,
*:active {
    text-decoration: none;
    outline: none !important;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
}

ol,
ul {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

input {
    border: none;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

.title,
.subtitle {
    font-size: 18px;
    font-weight: bold;
    line-height: 143.21%;
    color: #000000;
}

.subtitle-two {
    font-weight: 500;
    line-height: 21px;
}

.btn {
    width: 287px;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.434118px;
    text-transform: uppercase;
    background-color: #6747E5;
    border-radius: 15px;
    padding-top: 14px;
    padding-bottom: 14px;
    color: #FFFFFF;
    cursor: pointer;
}

.crumbs {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: #000000;
    padding-top: 25px;
    padding-bottom: 30px;
    opacity: 0.5;
}

.subscription-wrapp,
.subscription-form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.subscription-wrapp {
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 13px;
    padding-bottom: 13px;
}

.subscription-title {
    position: relative;
    margin-bottom: 44px;
}

.subscription-title:before {
    content: '';
    position: absolute;
    top: -10px;
    right: 0;
    width: 555px;
    height: 1.5px;
    background-color: #f6f6f6;
}

.subscription-form {
    margin-bottom: 27px;
}

.subscription-form-subtile {
    text-align: center;
    margin-bottom: 32px;
}

.subscription-form-label {
    text-align: center;
    margin-bottom: 25px;
}

.subscription-form-input-wrapp {
    position: relative;
    margin-bottom: 16px;
}

.subscription-form-input {
    width: 287px;
    font-size: 16px;
    line-height: 19px;
    background-color: #F5F7FF;
    border-radius: 6px;
    padding: 10px 40px 10px 95px;
    color: #000000;
}

.subscription-form-input-icon {
    position: absolute;
    top: 12px;
    left: 16px;
    width: 16.11px;
    height: 16px;
}

.subscription-form-input-card-type {
    position: absolute;
    top: 13px;
    left: 57px;
}

.subscription-form-input-card-type.mastercard {
    width: 22.15px;
    height: 14px;
}

.subscription-form-input-edit {
    position: absolute;
    top: 12px;
    right: 8px;
    width: 16px;
    height: 15px;
    background-image: url(../img/input-edit.svg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.subscription-form-add-card {
    font-size: 12px;
    line-height: 14px;
    color: #6747E5;
    margin-bottom: 30px;
    cursor: pointer;
}

.subscription-description {
    font-size: 14px;
    line-height: 143.21%;
    color: #C4C4C4;
}

.other-payment-methods {
    padding-top: 13px;
    padding-bottom: 13px;
}

.other-payment-methods-subtitle {
    line-height: 143.21%;
    margin-bottom: 32px;
}

.other-payment-methods-items {
    display: flex;
    flex-wrap: wrap;
}

.other-payment-methods-item {
    width: 177px;
    height: 114px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.other-payment-methods-item.card {
    background-image: url(../img/card.png);
}

.other-payment-methods-item.erip {
    background-image: url(../img/erip.png);
}

.other-payment-methods-item.ipay {
    background-image: url(../img/ipay.png);
}

.other-payment-methods-item.mts {
    background-image: url(../img/mts.png);
}

.subscribe-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 414px;
    min-height: 333px;
    background: linear-gradient(180deg, #F2EFFF 0%, #FFFFFF 100%);
    border-radius: 33px;
    text-align: center;
    padding: 45px;
}

.subscribe-block-subtitle {
    margin-bottom: 20px;
}

.subscribe-info-wrapp {
    max-width: 558px;
}

.subscribe-info-wrapp .btn {
    width: 100%;
}

.subscribe-info {
    position: relative;
    width: 100%;
    height: 240px;
    padding: 43px 200px 43px 33px;
    background-color: #47008D;
    background-image: url(../img/subscribe-info.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    border-radius: 18px;
    margin-bottom: 34px;
}

.subscribe-info:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 100%;
    background: linear-gradient(87.15deg, #47008D 57.85%, rgba(71, 0, 141, 0) 98.02%);
    border-radius: 18px 0px 0px 18px;
}

.subscription-step-2 {
    display: none;
}

.subscribe-info-title,
.subscribe-info-txt {
    position: relative;
    z-index: 1;
}

.subscribe-info-title {
    font-size: 28px;
    font-weight: bold;
    line-height: 143.21%;
    color: #FFFFFF;
    margin-bottom: 11px;
}

.subscribe-info-title span {
    text-transform: uppercase;
}

.subscribe-info-txt {
    font-size: 18px;
    line-height: 143.21%;
    color: #FFFFFF;
}